body {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.navigationBar{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
}

.bottomBar{
  background-color: black;
}

.mainPage{
  display: flex;
  flex-direction: column;
  background-image: url('https://www.photohound.co/images/1000848l.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.pageInfo{
  height: 900px;
  background-color: rgba(0, 0, 0, 0.464);
}

.headingOfRooms{
  border: 5px solid gray;
}

#fonsionTitle{
  color: white;
  font-size: 60px;
  font-weight: bolder;
  margin: 60px 60px 60px 60px;
}

.array-of-rooms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.room{
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  background-color: rgba(162, 159, 159, 0.464);
  backdrop-filter: blur(2px);
  color: white;
  text-decoration: none;
}

.room:hover{
  background-color: rgba(54, 54, 54, 0.82);
  backdrop-filter: blur(2px);
}

.roomImage{
  border-radius: 10px;
}

.auth,.make-reservations{
  margin: 5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  border: 2px solid gray;
  height: auto;
  font-size: large;
  border-radius: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.auth:hover,.make-reservations:hover{
  background-color: rgba(124, 108, 108, 0.82);
  border: 2px solid black;
  transition: background-color 0.5s linear 0.1s
}

.authentication-page{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.authentication-component{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5%;
  padding-left: 7%;
  height: 50vh;
}

.heading-authentication-page{
  width: 100%;
  font-size: larger;
}

.login-form,.registration-form{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
}

.reservation-form{
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  width: 20%;
  background-color: rgba(221, 217, 217, 0.82);
}

label{
  font-size: larger;
  margin-top: 10px;
}

input{
  border: none;
  margin: 10px 10px 10px 10px;
  font-size: larger;
}

input:hover{
  border: 2px solid black;
}

#btn-login,#btn-register{
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  height: 80%;
  border: none;
  border-radius: 10px;
  font-size: larger;
  background-color: rgba(54, 194, 241, 0.82);
  color: white;
  cursor: pointer;
}

#btn-login:hover,
#btn-register:hover{
  background-color: rgba(9, 117, 153, 0.82);
  transition: background-color 0.5s linear 0.1s
}

.reservations{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5%;
  color: black;
}

.reservation-field{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
}

#alert,#alertLoading,
#alertConfirmRegistration{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#box,#boxLoading,#boxConfirmRegistration{
  border-radius: 5px; 
  height: auto;
  width: auto;
  float:left;
  text-align: center;
  box-shadow: 2px 2px 8px black;
  background-color: white;
}

#boxLoading{
  width: 300px;
}

#boxConfirmRegistration{
  width: 500px;
}

.message{
  background-color: rgb(118, 53, 7);
  color: white;
  font-size: larger;
  padding:5px;
}

.content{
  margin-top: 30px;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

#confirm{
  height: 25px;
  width: 80px;
  border-radius: 8px;
  background-color: aliceblue;
  color: saddlebrown;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 400px;
  box-sizing: border-box;
  font-size: medium;
  font-weight: bold;
}

#confirm:hover{
  background-color: #FF8000;
  color: aliceblue;
  transition: background-color 0.5s linear 0.1s;
}

#btn-make-reservation{
  border-radius: 20px;
  background-color: rgba(134, 131, 131, 0.82);
  color: white;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

#btn-make-reservation:hover{
  background-color: rgba(7, 7, 7, 0.82);
  transition: background-color 0.5s linear 0.1s
}