body {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.navigationBar{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
}

.bottomBar{
  background-color: black;
}

.mainPage{
  display: flex;
  flex-direction: column;
  background-image: url('https://www.photohound.co/images/1000848l.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.pageInfo{
  height: 900px;
  background-color: rgba(0, 0, 0, 0.464);
}

.headingOfRooms{
  border: 5px solid gray;
}

#fonsionTitle{
  color: white;
  font-size: 60px;
  font-weight: bolder;
  margin: 60px 60px 60px 60px;
}

.array-of-rooms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.room{
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  background-color: rgba(162, 159, 159, 0.464);
  backdrop-filter: blur(2px);
  color: white;
  text-decoration: none;
}

.room:hover{
  background-color: rgba(54, 54, 54, 0.82);
  backdrop-filter: blur(2px);
}

.roomImage{
  border-radius: 10px;
}

.login,.signup{
  margin: 5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  border: 2px solid gray;
  width: auto;
  height: auto;
  font-size: large;
  border-radius: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.login:hover,
.signup:hover{
  background-color: rgba(124, 108, 108, 0.82);
  border: 2px solid black;
  transition: background-color 0.5s linear 0.1s
}

.login-page{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.login-component{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5%;
  padding-left: 5%;
  height: 30vh;
}

.heading-login-page{
  width: 100%;
  font-size: larger;
}

.login-form{
  margin-top: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

label{
  margin: 7% 3% 3% 3%;
  font-style: italic;
  font-size: larger;
}

.credentials{
  margin-left: 3%;
  border: none;
  font-size: large;
}

.credentials:hover{
  border: 2px solid black;
  border-radius: 20px;
}

#btn-login{
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  border: none;
  border-radius: 5%;
  color: white;
  font-size: larger;
  height: 50%;
  background-color: rgba(91, 176, 245, 0.82);
  backdrop-filter: blur(2px);
  cursor: pointer;
}

#btn-login:hover{
  background-color: rgb(2, 141, 192);
  transition: background-color 0.5s linear 0.1s
}

.link-register{
  text-decoration: none;
  color:  rgba(91, 176, 245, 0.82);
}

#alertLoading{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#boxLoading{
  border-radius: 5px; 
  height: auto;
  width: 250px;
  float:left;
  text-align: center;
  box-shadow: 2px 2px 8px black;
  background-color: white;
}

.message{
  background-color: saddlebrown;
  color: white;
  font-size: larger;
  padding:5px;
}

.content{
  margin-top: 30px;
  font-size: larger;
  font-weight: bolder;
}